neovim/.config/nvim/plugged
neovim/.config/nvim/.netrwhist

mpd/.config/mpd/log
mpd.condig/mpd/state
spotifyd/.config/spotifyd/spotifyd.conf

lazygit/.config/lazygit/state.yml

mpd/.config/mpd/log
mpd/.config/mpd/pid
mpd/.config/mpd/state
newsboat/.config/newsboat/urls
newsboat/.config/newsboat/history.cmdline
pijul/.config/pijul/secretkey.json
